@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
    url('fonts/OpenSans-Regular.woff') format('woff'),
    url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.woff2') format('woff2'),
    url('fonts/OpenSans-Bold.woff') format('woff'),
    url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

._hidden {
    position: fixed;
    transform: scale(0);
}

menu {
    padding: 0;
}

.relative-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.bold-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.full-header {
    background-image: url('../images/banner-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.background-tint {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

body {
    margin: 0;
}

.top-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 24px 245px 0px 245px;
    align-items: center;
    font-size: 13px;
}

.head-logosvg {
    width: 179px;
}

.header-menu {
    display: flex;
    gap: 35px;
}

.header-menu a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-menu a:hover {
    text-decoration: underline;
}

.header-title {
    align-self: center;
    color: #FFFFFF;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    line-height: 75px;
}

.shape {
    width: 65px;
    height: 3px;
    margin: 10px 0 30px 0;
    background-color: rgba(181, 159, 91, 0.4);
}

.block-title {
    font-size: 20px;
    margin: 57px 0 0 0;
    text-transform: uppercase;
}

.now-in-trand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trands-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 4px;
    /* max-width: 1660px; */
}

.trand {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 25%;
    height: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.trand-info {
    display: flex;
    flex-direction: column;
    padding: 40px 35px;
    margin: 20px;
    border: 4px solid rgba(181, 159, 91, 0.6);
}

.trand-tags {
    display: flex;
    gap: 20px;
}

.trand-tag {
    text-transform: uppercase;
    color: #b59f5b;
    font-size: 14px;
}

.trand-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    line-height: 25.1px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.trand-tag {
    margin-top: 0;
    margin-bottom: 10px;
    text-decoration: none;
}

.trand-tag:hover {
    text-decoration: underline;
}

.trand-1 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
        ), url('../images/trend1.jpg');
}

.trand-2 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
        ), url('../images/trend2.jpg');
}

.trand-3 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
        ), url('../images/trend3.jpg');
}

.trand-4 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
        ), url('../images/trend4.jpg');
}

.site-body {
    max-width: 1170px;
    display: flex;
    margin: 0 auto;
    margin-top: 64px;
    justify-content: space-between;
}

.left-block-posts {
    max-width: 780px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.post-img {
    width: 381px;
}

.post-tags {
    display: flex;
    gap: 20px;
    margin-top: -6px;
}

.post {
    display: flex;
}

.post-describes {
    margin-left: 30px;
    margin-bottom: 13px;
}

.post-title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 35px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-meta-data {
    font-size: 12px;
    color: #888888;
    margin: 0;
}

.post-autor {
    margin-left: 15px;
    color: black;
}

.post-spoiler {
    margin-top: 50px;
    line-height: 22px;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.right-block {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
    align-items: center;
}

.right-posts-navigator {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 0;
}

.mini-post {
    display: flex;
    gap: 20px;
    max-width: 270px;
}

.mini-post-img {
    width: 70px;
    height: 70px;
}

.mini-post-title {
    font-size: 14px;
    line-height: 18px;
    margin-top: 3px;
    margin-bottom: 0;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mini-post-data {
    margin-top: -3px;
    margin-bottom: 0;
}

.new-posts-title {
    margin-top: -8px;
    font-size: 14px;
}

.search-button-svg {
    width: 18px;
}

.search-form {
    display: flex;
    height: 50px;
    margin-top: 60px;
}

.search-button {
    width: 50px;
    margin: 0;
    border-radius: 0;
    border: 0;
    background-color: #b59f5b;
}

.search-input {
    margin: 0;
    width: 220px;
    border-radius: 0;
    border: 0;
    background-color: #f4f7f6;
    padding-left: 18px;
    font-size: 13px;
}

.search-input:focus {
    box-shadow: 0px 1px 0px 0px #ebe7d7;
    outline: none;
}

.search-input:focus-within + .search-button {
    box-shadow: 0px 1px 0px 0px #ebe7d7;
    outline: none;
}

.search-button:focus {
    box-shadow: 0px 1px 0px 0px #ebe7d7;
    outline: none;
}

.small-title {
    margin-top: 60px;
}

.subscribtion-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 270px;
}

.subscribtion-input {
    margin: 0;
    border-radius: 0;
    border: 0;
    background-color: #f4f7f6;
    padding-left: 18px;
    height: 50px;
    font-size: 13px;
}

.subscribtion-button {
    margin: 0;
    border-radius: 0;
    border: 0;
    background-color: #b59f5b;
    height: 50px;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
}

.subscribtion-input:focus-within {
    box-shadow: 0px 1px 0px 0px #ebe7d7;
    outline: none;
}

.subscribtion-button:focus {
    box-shadow: 0px -1px 0px 0px #323232;
    outline: none;
}

.right-tags-container {
    display: flex;
    width: 270px;
    flex-wrap: wrap;
}

.right-tag {
    font-size: 12px;
    border: 3px solid #eeeeee;
    margin-right: 5px;
    margin-bottom: 6px;
    margin-top: 0;
    padding: 2px 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.theme-container {
    display: flex;
    flex-direction: column;
}

.theme-line-splitter {
    width: 270px;
    height: 1px;
    background-color: #eeeeee;
}

.theme-describe {
    display: flex;
    gap: 5px;
}

.theme-title {
    font-size: 14px;
    margin-bottom: 12px;
    margin-top: 18px;
    text-decoration: none;
    color: #000;
}

.theme-posts-count {
    font-size: 12px;
    margin-bottom: 16px;
    margin-top: 16px;
    color: #b59f5b;
    text-decoration: none;
}

.product-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-prodycts-container {
    display: flex;
    max-width: 1170px;
    width: 100%;
    justify-content: space-between;
}

.product {
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(181, 159, 91, 0.6);
    width: 300px;
    height: 260px;
    padding: 0 20px;
    margin-top: 170px;
    position: relative;
}

.money-block {
    margin-top: 25px;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
}

.product-title {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 50px;
}

.product-describe {
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 0;
}

.linked-describe {
    color: #b59f5b;
    text-decoration: none;
    line-height: 22px;
}

.linked-describe:hover {
    text-decoration: underline;
}

.product-sale {
    margin-bottom: -2px;
    font-size: 14px;
    text-decoration: line-through;
}

.product-price {
    margin-top: 0px;
    font-size: 20px;
}

.buy-product-button {
    height: 50px;
    width: 140px;
    border-radius: 0;
    border: 0;
    background-color: #b59f5b;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
}

.price-sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-img {
    position: absolute;
    bottom: 230px;
}

.site-footer {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    height: 80px;
    max-width: 1170px;
    width: 100%;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-link {
    width: 25px;
}

.copyright-title {
    margin-top: 70px;
    margin-bottom: 47px;
    font-size: 12px;
    color: #999999;
}

.dark-layer {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.popup {
    display: flex;
    justify-content: center;
}

.popup-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    height: 590px;
    background-color: #FFFFFF;
    top: 16vh;
}

.popup-close {
    width: 17px;
}

.popup-close-button {
    padding: 0;
    margin-top: -23px;
    margin-right: -375px;
    border-radius: 0;
    border: 0;
    background: 0;
}

.poll {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.question {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 8px;
}

.quest-1 {
    margin-top: -17px;
}

.time-select {
    appearance: none;
    padding-left: 22px;
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 0;
    margin-bottom: 24px;
    background-color: #f4f7f6;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    color: #939594;
    font-size: 13px;
    background-size: 10px;
}

.time-select:focus {
    box-shadow: 0px 1px 0px 0px #ebe7d7;
    outline: none;
}

.email-radio {
    display: flex;
    gap: 17px;
    margin-bottom: 30px;
}

.one-radio-block {
    display: flex;
}

.radio-title {
    font-size: 13px;
}

.email-radio-check {
    display: none;
}

.radio-title::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    background-repeat: no-repeat;
    background-image: url("../svg/form-empty-circle.svg");
    width: 17px;
    height: 17px;
    background-size: 17px;
    margin-right: 4px;
}

.email-radio-check:checked ~ .radio-title::before {
    background-image: url("../svg/form-circle.svg");
}

.text-field-input {
    padding-left: 22px;
    padding-top: 18px;
    width: calc(100% - 22px);
    height: 130px;
    resize: none;
    border-radius: 0;
    border: 0;
    margin-bottom: 24px;
    background-color: #f4f7f6;
    color: #939594;
}

.popup-push-button {
    margin: 0;
    border-radius: 0;
    border: 0;
    background-color: #b59f5b;
    height: 50px;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
}

.popup-push-button:focus {
    box-shadow: 0px -1px 0px 0px #323232;
    outline: none;
}

.text-field-input:focus {
    box-shadow: 0px 1px 0px 0px #ebe7d7;
    outline: none;
}

.menu-burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.one-burger-line {
    width: 23px;
    height: 3px;
    background-color: #fff;
}

@media (max-width: 1200px) {
    .top-header {padding: 40px 35px 0 35px;}
    .header-menu {
        position: fixed;
        transform: scale(0);
    }
    .trands-container {flex-wrap: wrap; gap: 0;}
    .trand {width: 49.8%; margin-top: 3px;}
    .post-spoiler {margin-top: 30px;}
    .site-body {padding: 0 35px;}
    .post {flex-direction: column;}
    .post-img {width: 390px;}
    .post-describes {
        max-width: 390px;
        margin: 0;
        margin-top: 17px;
    }
    .slide-shape {
        height: 3px;
        max-width: 391px;
        width: 100%;
        background-color: #eeeeee;
    }
    .product-menu {
        margin: 0 35px;
        padding: 0;
    }
    .our-prodycts-container {
        flex-wrap: wrap;
    }
    .product {
        margin-bottom: 30px;
    }
    .site-footer {
        margin-top: 35px;
    }
    .footer-links {
        box-sizing: border-box;
        border-left: 35px solid white;
        border-right: 35px solid white;
    }
    .product {
        margin-top: 200px;
    }
    .product-1 img {
        content: url("../images/shop-item-tablet1.jpg");
    }
    .product-2 img {
        content: url("../images/shop-item-tablet2.jpg");
    }
    .product-3 img {
        content: url("../images/shop-item-tablet3.jpg");
    }
}

@media (min-width: 1201px) {
    .menu-burger {
        position: fixed;
        transform: scale(0);
    }
    .slide-shape {
        position: fixed;
        transform: scale(0);
    }
}

@media (max-width: 640px) {
    .slide-shape {
        max-width: 300px;
    }
    .header-title {
        font-size: 35px;
    }
    .post-img {
        width: 300px;
    }
    .site-body {flex-direction: column; align-items: center;}
    .right-block {margin-top: 30px;}
    .product {
        margin-top: 250px;
    }
    .product-1 img {
        content: url("../images/shop-item-mobile1.jpg");
    }
    .product-2 img {
        content: url("../images/shop-item-mobile2.jpg");
    }
    .product-3 img {
        content: url("../images/shop-item-mobile3.jpg");
    }
}

@media (max-width: 640px) and (orientation: portrait) {
    .trand {width: 100%;}
}

@media (max-width: 640px) and (orientation: landscape) {
    .trand {width: 49.5%;}
}